github "jpotts18/SwiftValidator"
github "SnapKit/SnapKit" ~> 3.2.0
github "JeromeTan1997/LocationPicker"
github "alexlittlejohn/ALCameraViewController"
github "hyperoslo/Lightbox"
#github "corin8823/Popover"